<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div style="flex-direction: column;align-items: center;margin-top: 10vh;">
            <div class="row">
                <form class="col s12" action="/create-dorm" method="POST">
                    <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Kost Mawar" name="name" type="text" class="validate">
                        <label for="name">Nama Kos</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12">
                        <input name="address" type="text" placeholder="Jl. Mawar Abadi, Jakarta Pusat" class="validate">
                        <label for="address">Alamat</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12">
                        <input name="owner" type="text" class="validate" placeholder="Reza Arap">
                        <label for="owner">Pemilik</label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="input-field col s12">
                        <input name="facilities" type="text" class="validate" placeholder="AC,TV">
                        <label for="facilities">Fasilitas</label>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Tambah Kos</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>